/*--------------------------------------------------------------
## Utility Styling
--------------------------------------------------------------*/

@mixin icon($url, $size: contain) {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin customScrollbar($size: 8px, $thumb-color: #1e1e1e, $background-color: transparent) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: $thumb-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  scrollbar-color: $thumb-color $background-color;
}
